$black: #292929;
$gold: #E5C067;
$red: #D33943;
$green: #58B69B;
$dark-green: #285B52;

$border-radius-sm: 6px;
$border-radius-md: 10px;
$border-radius-lg: 12px;

$easing: cubic-bezier(.21,.76,.4,.96);
